.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-layout {
  display: flex;
  width: 100%;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  width: 10%;
  background-color: antiquewhite;
}

.dashboard {
  width: 90%;
  height: 500px;
  background-color: beige;
}

.table {
  width: 100%;
}
