.menu-options{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.menu-option{
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-weight: 500;
}

.menu-option:hover{
    cursor: pointer;
    background-color: aliceblue;
}
